@font-face {
    font-family: Mukta;
    src: url(Fonts/MuktaMalar-ExtraLight.ttf);
}

@font-face {
    font-family: Karasha;
    src: url(Fonts/KARASHA\ \(DEMO\).TTF);
}

@font-face {
    font-family: Lancelot;
    src: url(Fonts/Lancelot-Regular.ttf);
}
*
{
    padding: 0px;
    margin: 0px;
    user-select: none;

}

body
{
    background-image: url(Pictures/Menu.png);
    background-size: 1879px 950px;
}

h1
{
    color:#A4161A;
    font-size: 60px;
    font-family: Lancelot;
    margin-left: 560px;
    margin-top: 15px;
    width: 130px;
    font-weight: lighter;
}

/*Sushi*/

.sushi
{
    color: #161A1D;
    width: 300px;
    font-family: Lancelot;
    margin-left: 330px;
    font-size: 26px;
    margin-top: 35px;
}

.sushi ul li
{
    margin-bottom: 5px;
    margin-left: 23px;
}

.sushi h3
{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}

/*Sashimi*/

.sashimi
{
    color: #161A1D;
    width: 300px;
    font-family: Lancelot;
    margin-left: 330px;
    font-size: 26px;
    margin-top: 50px;
}

.sashimi ul li
{
    margin-bottom: 5px;
    margin-left: 23px;
}

.sashimi h3
{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}

/*Soup*/

.soup
{
    color: #161A1D;
    width: 300px;
    font-family: Lancelot;
    margin-left: 330px;
    font-size: 26px;
    margin-top: 50px;
}

.soup ul li
{
    margin-bottom: 5px;
    margin-left: 23px;
}

.soup h3
{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}

/*Ramen*/

.ramen
{
    color: #161A1D;
    width: 300px;
    font-family: Lancelot;
    margin-left: 130px;
    font-size: 26px;
    margin-top: 35px;
}

.ramen ul li
{
    margin-bottom: 5px;
    margin-left: 23px;
}

.ramen h3
{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}

/*Onigiri*/

.onigiri
{
    color: #161A1D;
    width: 300px;
    font-family: Lancelot;
    margin-left: 130px;
    font-size: 26px;
    margin-top: 50px;
}

.onigiri ul li
{
    margin-bottom: 5px;
    margin-left: 23px;
}

.onigiri h3
{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}

/*Drinks*/

.drinks
{
    color: #161A1D;
    width: 300px;
    font-family: Lancelot;
    margin-left: 130px;
    font-size: 26px;
    margin-top: 50px;
}

.drinks ul li
{
    margin-bottom: 5px;
    margin-left: 23px;
}

.drinks h3
{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}

/*------------------------------------------------------------------------*/
.ss
{
    display:flex
}

.so
{
    display: flex;
}

.sd
{
    display: flex;
}

/*------------------------------------------------------------------------*/

.Pictures
{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    margin-left: 1200px;
    margin-top: 20px;
}

.sushiPic
{
    width: 320px;
    height: 380px;
}

.sushisPic
{
    width: 400px;
    height: 258px;
    margin-left: -60px;
    margin-top: -20px;
}

.sushitable
{
    width: 260px;
    height: 220px;
}

.go
{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    margin-left: 320px;
    margin-top: 25px;
}